:root {
    --primary-color: white;
    --button-color: #B3A125;
    --body-text-color: white;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: var(--primary-color);
}

h1 {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

.poke-img {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 50%;
}

.credit {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.pokemon-list {
    list-style-type: none;
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn-primary {
    font-size: 18px; 
    /* border-radius: 8px;  */
    border: none;
    /* justify-content: center;  */
}

.pokemon-button {
    text-transform: capitalize;
    background-color: var(--button-color);
    border: none;
    color: var(--body-text-color);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
}

.list-group-item {
    border: none;
    /* margin: auto; */
    /* margin-left: 20px;
    margin-right: 20px; */
}

@media all and (max-width: 420px) {
    h1 {
        font-size: 27px;
    }
}

@media all and (max-width: 260px) {
    .btn-primary {
        justify-content: center;
        font-size: 1.5vh;
        height: 7vh;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}

/* Modal CSS */
#modal-container {
    display: none;
}
